#back-img {
  background-color: #0c4270;
}
#w-h-img {
  width: 100%;
}
#hover-text {
  color: #fff;
}
#hover-text:hover {
  color: orange;
}
#style-modal-head {
  background-color: #4296f1;
  color: #fff;
}
